<template name="welcome">	
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Welcome</h3>
		</div>
		<div class="box-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tempore non recusandae necessitatibus voluptatibus laborum odio debitis repellat deleniti totam quibusdam rerum fugiat alias, ipsam tempora optio voluptatum blanditiis? Architecto!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tempore non recusandae necessitatibus voluptatibus laborum odio debitis repellat deleniti totam quibusdam rerum fugiat alias, ipsam tempora optio voluptatum blanditiis? Architecto!</p>
		</div>
	</div>
</template>